<div class="container">
  <p id="notice"><%= notice %></p>


  <%= render "friend_requests/accept_request", collection: @incoming_requests, locals: {size: 30} %>

  <%= render "friend_requests/send_request", collection: @send_requests, locals: {size: 30} %>

  <h3>Users Lists</h3>

  <% @users.each do |user| %>
    <div class="row">
      <%= user.first_name %>
      <%= link_to "Add friend", friend_requests_path(@users, :friend_id => user.id), :method=> :post %>
    </div>
  <% end %>
</div>
